.new-book__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-book__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-book__control input {
  width: 29.3rem;
  height: 2.813rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn {
  width: 11.5rem;
  height: 2.813rem;
  border-radius: 3px;
  background: var(--azure);
  font-size: 0.813rem;
  font-weight: bold;
  border: none;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.form-header {
  width: 10.875rem;
  height: 1.5rem;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 2rem;
}

form {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}
