@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --azure: #0290ff;
  --black-two: #121212;
  --pale-gray: #9c9c9c;
  --warm-gray: #5a5959;
  --white: #e8e8e8;
  --pinkish-grey: #c4c4c4;
  --dodger-blue: #379cf6;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 15px 20px;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.items {
 
 
}

.desc {
  width: 350px;
}
.category {
  color: #121212;
  opacity: 0.5;
}

.title {
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;

}

.rmvDiv {
  margin-top: 2rem;
}
.rmvDiv button {
  border: none;
  background: none;
  color: #0290ff;
  font-size: 0.96rem;
  cursor: pointer;
}

.rmvDiv .remove {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding: 0 9px;
}

.progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-image-source: linear-gradient(to bottom, var(--medium-blue), var(--dodger-blue));
  border-image-slice: 1;
}

.Oval {
  width: 4.25rem;
  height: 4.25rem;
  border-top: 5px solid var(--dodger-blue);
  border-right: 5px solid var(--dodger-blue);
  border-bottom: 5px solid var(--dodger-blue);
  border-left: 5px solid var(--white);
  border-radius: 50%;
  transform: rotate(45deg);
}

.progress {
  width: 16rem;
  border-right: 1px solid var(--white);
}

.progresstxt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--black-two);
  margin-left: 1.4rem;
}

.percent {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.status {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.chapUpdate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #121212;
  width: 30%;
  padding-right: 20px;
}

.currentChap{
 
 opacity: 0.5;
 width: 100%;

}
.updateDiv {
  /* float: left; */
  width: 100%;
}
.update {
  width: 50%;
   height: 2.2rem;
/* justify-self: flex-start; */
  /* padding: 1.5rem; */
  border-radius: 3px;
  background:#0290ff;
margin-top: 1.5rem;

  font-size: 0.813rem;
  font-weight: 300;
  border: none;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.chapter {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}