@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
  padding: 15px 20px;
  line-height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.description {
  justify-self: flex-start;
  width: 100%;
}

.desc {
  width: 350px;
}

.category {
  color: var(--black-two);
  opacity: 0.5;
}

.title {
  color: var(--black-two);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.author {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.rmvDiv {
  margin-top: 1rem;
}

.rmvDiv button {
  border: none;
  background: none;
  color: var(--azure);
  font-size: 0.96rem;
  cursor: pointer;
  padding: 0;
}

.rmvDiv .remove {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  padding: 0 9px;
}

.progress {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  height: 100%;
  border-image-source: linear-gradient(to bottom, var(--dodger-blue));
  border-image-slice: 1;
  width: 60%;
  border-right: 1px solid var(--white);
}

.Oval {
  width: 4.25rem;
  height: 4.25rem;
  border-top: 5px solid var(--dodger-blue);
  border-right: 5px solid var(--dodger-blue);
  border-bottom: 5px solid var(--dodger-blue);
  border-left: 5px solid var(--white);
  border-radius: 50%;
  transform: rotate(45deg);
}

.progresstxt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--black-two);
  margin-left: 1.4rem;
}

.percent {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.status {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.chapUpdate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: flex-start;
  align-items: center;
  color: var(--black-two);
  width: 100%;
  margin-left: 30px;
}

.currentChap {
  opacity: 0.5;
  width: 100%;
}

.updateDiv {
  width: 100%;
}

.update {
  width: 50%;
  height: 2.2rem;
  border-radius: 3px;
  background: var(--azure);
  margin-top: 1.5rem;
  font-size: 0.813rem;
  font-weight: 300;
  border: none;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.chapter {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}
